<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><a href="/customer/create">add customer</a></h2>
    
    <h3><a href="/user/logout">Logout</a></h3>
    <table>
        <thead>
            <tr>
                <th>Full name</th>
            <th>Address</th>
            <th>Age</th>
            <th>Image</th>
            <th>Action</th>
            </tr>
        </thead>

        <tbody>
        
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.fullname }}</td>
                        <td>{{ customer.address }}</td>
                        <td>{{ customer.age }}</td>
                        <!-- <td>{{ customer.image }}</td> -->
                        <!-- now showing image -->
                        <td> <img src="/{{ customer.image }} "  width="100"></td>
                        <td><a href="/customer/edit/{{customer.id}}">Edit</a>  | <a href="/customer/delete/{{ customer.id }}">Delete</a></td>
                    </tr>
                {% endfor %}
            
        </tbody>
    </table>
</body>
</html>