<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table>
        <thead>
            <tr>
                <th>Full name</th>
            <th>Address</th>
            <th>Age</th>
            <th>Image</th>
            </tr>
        </thead>

        <tbody>
        
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.fullname }}</td>
                        <td>{{ customer.address }}</td>
                        <td>{{ customer.age }}</td>
                        <!-- <td>{{ customer.image }}</td> -->
                        <!-- now showing image -->
                        <td> <img src="/{{ customer.image }} "  width="100"></td>
                    </tr>
                {% endfor %}
            
        </tbody>
    </table>
</body>
</html>